root{
    --dark-text: #000000;
}


body {
    background-image: url("/img/112m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.btn-success{
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

 .btn-success:hover{
     background-color:navy;
     border-color: darkblue;
 }


.container{
    opacity: 0.8;
}

.card card-header{
    opacity: 1;
}

.error{
    color:red;
    font-size: smaller;
}

.card-header{
    margin-bottom: 0px;

}

/*------------------------------*/
/*---- Slider section----*/
/*------------------------------*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
    opacity: 1 !important;
    outline: black;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: var(--dark-text);
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: var(--dark-text);
}

.carousel-caption {
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    font-weight: 600;
    color: var(--dark-text) !important;
}